button {
    margin-top: 16px;
    margin-bottom: 32px;
}

.botao {
    background-color: var(--amarelo-opaco-botao);
    color: var(--branco-cards);

    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 100%;
    border: none;

    box-shadow: 10px 10px 30px rgba(255, 203, 71, 0.3);
}

.botao__text {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    text-align: center;
}