button {
    margin-top: 16px;
    margin-bottom: 32px;
}

.botao {
    background-color: var(--amarelo-opaco-botao);
    color: var(--branco-cards);

    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 100%;
    border: none;

    box-shadow: 10px 10px 30px var(--amarelo-transparente);

    font-family: inherit;
    font-weight: var(--peso-medio);
    font-size: 16px;
    line-height: 20px;
    
    text-align: center;
}

.botao--alternativo {
    color: var(--amarelo-opaco-botao);
    border: 1px solid var(--amarelo-opaco-botao);

    box-shadow: none;

    background-color: unset;
}

.botao__produto {
    background-color: unset;
    color: var(--amarelo-opaco-botao);

    text-align: start;

    box-shadow: none;

    display: flex;
    align-items: center;
}

.botao__produto--icon {
    display: inline-block;

    width: 0.875rem;
    height: 0.875rem;

    margin-left: 1.75rem;

    background-image: url(../../icon/seta.svg);
    background-size: contain;
    background-repeat: no-repeat;
}