:root {

    /* color Style */
    --branco-cards: #FFFFFF;
    --branco: #F8F8F8;
    --botao-and-page: #FDBF21;
    --amarelo-opaco-botao: #FFCB47;
    --sub-texto: #909090;
    --text-color: #202020;

    /* cores de sombreamento */
    --amarelo-transparente: rgba(255, 203, 71, 0.3);
    --preto-transparente: #0000000F;

    /* font Style */
    --texto-fonte: 'Montserrat', sans-serif;
    --titulo-fonte: 'Elsie Swash Caps', cursive;

    --titulo-fonte-peso: 900;
    --peso-medio: 700;
    --peso-baixo: 400;

    --tamanho-texto: 1rem;
    --tamanho-titulo: 1.375rem;
    --tamanho-titulo-destaque: 2rem;

}