:root {

    /* color Style */
    --branco-cards: #FFFFFF;
    --branco: #F8F8F8;
    --botao-and-page: #FDBF21;
    --amarelo-opaco-botao: #FFCB47;
    --sub-texto: #909090;
    --text-color: #202020;

    /* font Style */
    --text-font: 'Montserrat', sans-serif;
    --title-font: 'Elsie Swash Caps', cursive;

    --p: 16px;
    --subtitle: 22px;
    --h3: 32px;
    --h2: 42px;
    --h1: 82px;
}